# Importation des diff√©rentes librairies

In [73]:
import pandas as pd
import numpy as np
import spacy
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [75]:
df = pd.read_csv('https://raw.githubusercontent.com/yassinhediger/Bigscale-Videogames/master/data/rawdata/videogamesales.csv')
df.head()

  Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales;
0    1                Wii Sports      Wii  ...      3.77        8.46        82.74;
1    2         Super Mario Bros.      NES  ...      6.81        0.77        40.24;
2    3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82;
3    4         Wii Sports Resort      Wii  ...      3.28        2.96           33;
4    5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37;

[5 rows x 11 columns]

# Column renaming

In [78]:
df = df.rename(columns={"Rank": "game_global_ranking", "Name": "game_title", "Platform": "console","Genre": "genre", "Year": "year_of_release", "Publisher": "publisher", "NA_Sales": "northamerican_sales", "EU_Sales": "europe_sales", "JP_Sales": "japan_sales", "Other_Sales":"othercontry_sales", "Global_Sales;": "world_sales"})
df.head()

  game_global_ranking                game_title  ... othercontry_sales  world_sales
0                   1                Wii Sports  ...              8.46       82.74;
1                   2         Super Mario Bros.  ...              0.77       40.24;
2                   3            Mario Kart Wii  ...              3.31       35.82;
3                   4         Wii Sports Resort  ...              2.96          33;
4                   5  Pokemon Red/Pokemon Blue  ...              1.00       31.37;

[5 rows x 11 columns]

# Text cleaning

In [79]:
#Lower all the letters from Name column
df["game_title"] = df["game_title"].str.lower()
df["console"] = df["console"].str.lower()
df["genre"] = df["genre"].str.lower()
df["publisher"] = df["publisher"].str.lower()
#Removing White space
df["game_title"]= df["game_title"].str.replace(" ", "") 
#Removing special character
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","‚Äì"]
for char in spec_chars:
    df['game_title'] = df['game_title'].str.replace(char, ' ')

df.head()





df.head(100)

   game_global_ranking  ... world_sales
0                    1  ...      82.74;
1                    2  ...      40.24;
2                    3  ...      35.82;
3                    4  ...         33;
4                    5  ...      31.37;
..                 ...  ...         ...
95                  96  ...       7.58;
96                  97  ...       7.46;
97                  98  ...       7.45;
98                  99  ...       7.37;
99                 100  ...       7.34;

[100 rows x 11 columns]